# Node.js dependencies
/backend/node_modules/
/frontend/frontend/node_modules/
/.vscode

# Build output
/backend/dist/
/frontend/dist/

# Environment variables
/backend/.env
/frontend/.env
/frontend/.env.production
/frontend/.env.development
/backend/uploads/profile_pictures/*
!backend/uploads/profile_pictures/.gitkeep

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db
